$color-accent: #00ff85
$color-text: white
$color-text-alt: #EEEEEE
$color-border: rgba(255, 255, 255, 0.3)
$color-background-alt: #333333
$color-background: black

$hero-background-color: black
$breadcrumb-color: white

$body-font-family: "Planc", sans-serif !default
$heading-font-family: "Planc", sans-serif !default

$header-logo-height: 60px
$h1-size-md: px2rem(90)
$h1-weight: 100
$h2-size-md: px2rem(40)
$h2-size: px2rem(30)
$lead-weight: 100


$article-title-size: px2rem(20)
$article-title-size-md: px2rem(22)
