$main-color: white
$main-background-color: black

$hero-color: white
$hero-background-color: black

$breadcrumb-color: white

$line-height-base: 1.6

$body-font-family: "Planc", sans-serif !default
$heading-font-family: "Planc", sans-serif !default

$h1-size-md: px2rem(90)
$h1-weight: 100
$h2-size-md: px2rem(40)
$h2-size: px2rem(30)

$article-title-size: px2rem(20)
$article-title-size-md: px2rem(22)