header[role="banner"]
    .logo
        img
            height: 60px

h1
    font-weight: 100

.nav-social
    span
        padding: 12px
    @include media-breakpoint-up(md)
        li
            display: inline-block
            padding-left: 24px

footer
    nav
        display: none
        &.nav-social, &.nav-legal
            display: block