header[role="banner"]
    .logo
        img
            height: 60px
    @include media-breakpoint-down(md)
        padding-top: 10px
        > .navbar > .container
            align-items: flex-start !important
        button
            margin-top: -5px
            span:first-of-type
                margin-top: 2px
            span:last-of-type
                margin-right: -10px

.nav-social
    span
        padding: 12px
    @include media-breakpoint-up(md)
        li
            display: inline-block
            padding-left: 24px


.hero 
    padding-bottom: 0
    @include media-breakpoint-down(md)
        min-height: 250px

.posts__section
    .hero
        margin-bottom: 0

.posts__page
    aside
        margin-top: 0


footer[role="contentinfo"]
    padding-bottom: $spacing1
    nav
        display: none
        &.nav-social, &.nav-legal
            display: block
    .credit
        display: block
        padding: 12px 0
        line-height: 1.4